/* Navbar Background */
.navbar {
    background-color: #000 !important;
}

/* Navbar Brand */
.navbar-brand {
    color: white !important;
    font-size: 28px;
    font-weight: bold;
}

/* Navbar Links */
.nav-link {
    color: white !important;
}

/* Navbar Links Hover */
.nav-link:hover {
    color: #cfcfcf !important;
}

/* Search Button */
.btn-outline-success {
    color: white;
    border-color: white;
}

.btn-outline-success:hover {
    background-color: white;
    color: black;
}
/* ===========================
   About Banner
=========================== */

.about-banner{

    background: url("https://i.pinimg.com/1200x/03/c9/92/03c9925f5ad02cc707317a049dd31620.jpg") center center/cover no-repeat;

    height:100vh;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.overlay{

    position:absolute;

    width:100%;

    height:100%;

    background:rgba(0,0,0,0.55);

}

.content{

    position:relative;

    z-index:2;

    color:white;

    width:80%;

}

.content h1{

    font-size:70px;

    font-weight:bold;

    letter-spacing:4px;

}

.content p{

    font-size:22px;

    margin-top:20px;

    line-height:1.8;

}

.content .btn{

    padding:12px 35px;

    border-radius:30px;

    font-weight:bold;

}

/* Responsive */

@media(max-width:768px){

    .about-banner{

        height:70vh;

    }

    .content h1{

        font-size:40px;

    }

    .content p{

        font-size:16px;

    }

}